<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <div class="AddSales">
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="ibox col-lg-12">
                <div class="ibox-title">
                    <h5>Add Sales</h5>
                </div>

                <div class="card">
                    <div class="card-body">
                        <form class="row g-3" id="salesForm">
                            <div class="row col-md-12">
                                <div class="col-md-4">
                                    <label class="form-label">Product</label>
                                    <select id="" class="form-control" data-bind='options: productlist, optionsText: "productname",
optionsValue: "id", value: product, optionsCaption: "---Select---"'>
                                    </select>
                                </div>

                                 <div class="col-md-4">
                                    <label for="inputText" class="form-label">Quantity</label>
                                    <input type="text" class="form-control" placeholder="quantity" data-bind="value: quantity" />
                                </div>


                                <div class="col-md-4">
                                    <button class="btn btn-primary btn-addProduct" data-bind='click: addProduct' type="button" style="margin-top: 25px;">Add</button>
                                </div>

                                <div class="mt-4 col-md-9">
                                    <h1 class="text-center" style="color:red">Item List</h1>

                                    <table id="productTable" class="table">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Quantity</th>
                                                <th>Total Price</th>
                                                <th>Product Total Amount</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind='foreach: addedProductList, visible: addedProductList().length > 0 '>
                                            <tr>
                                                <td data-bind="text: productName"></td>
                                                <td data-bind="text: quantity"></td>
                                                <td>$<span data-bind="text: productPrice"></span></td>
                                                <td>$<span data-bind="text: total_prod_amount"></span></td>
                                                <td><button data-bind='click: $root.removeProduct' class="btn btn-danger btn-removeProduct">Remove</button></td>
                                            </tr>
                                        </tbody>
                                        <tfoot data-bind='visible: addedProductList().length > 0 '>
                                            <tr>
                                                <td colspan="3">Total</td>
                                                <td>$<span data-bind='text:$root.totalamount'></span></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">VAT (13%) </td>
                                                <td>$<span data-bind='text:$root.VAT'></span></td>
                                            </tr>
                                           
                                            <tr>
                                                <td colspan="3">Grand Total </td>
                                                <td>$<span data-bind='text:$root.grandTotal'></span></td>
                                            </tr>
                                            <tr data-bind='visible: $root.userAmount() > 0 '>
                                                <td colspan="3">Customer Paid Amount </td>
                                                <td>$<span data-bind='text:$root.userAmount'></span></td>
                                            </tr>
                                            <tr data-bind='visible: $root.userAmount() > 0 '>
                                                <td colspan="3">Due Amount </td>
                                                <td>$<span data-bind='text:$root.dueAmount'></span></td>
                                            </tr>
                                            <tr data-bind='visible: $root.userAmount() > 0 '>
                                                <td colspan="3">Return Amount </td>
                                                <td>$<span data-bind='text:$root.returnAmount'></span></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>

                            <div class="row mt-4 col-md-12">

                                <div class="col-md-4">
                                    <label class="form-label">Customer</label>
                                    <select id="" class="form-control" data-bind='options: customerList, optionsText: "customerName",
optionsValue: "id", value: customer, optionsCaption: "---Select---"'>
                                    </select>
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label">Payment Method</label>
                                    <select id="" class="form-control" data-bind='options: paymentmethodList, optionsText: "name",
optionsValue: "id", value: paymentmethod, optionsCaption: "---Select---"'>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Paid Amount (Customer paid Amount)</label>
                                    <input type="text" class="form-control" placeholder="amount" data-bind='value: userAmount' />

                                </div>

                            </div>

                            <div class="col-4 mt-4">
                                <button class="btn btn-primary" data-bind='click : $root.save' type="button">Proceed to checkout</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


    
    <div class="modal inmodal fade" id="modal-container" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="padding:0px 10px;">
                    <h4 class="modal-title">Receipt</h4>
                </div>
                <div class="modal-body" id="div-to-print">
                    <div class="mt-4 col-md-9">

                        <p class="text-center">Grocery Name : <span data-bind='text: $root.GroceryName'></span></p>
                        <p class="text-center">Customer Name: <span data-bind='text: $root.customerName'></span></p>
                        <p class="text-center">Payment Method: <span data-bind='text: $root.paymentmethodName'></span></p>
                        <p class="text-center">Date : <span data-bind='text: $root.entryDate'></span></p>

                        <h1 class="text-center" style="color:red">Item List</h1>

                        <table id="productTable" class="table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Total Price</th>
                                    <th>Product Total Amount</th>
                                </tr>
                            </thead>
                            <tbody data-bind='foreach: addedProductList, visible: addedProductList().length > 0 '>
                                <tr>
                                    <td data-bind="text: productName"></td>
                                    <td data-bind="text: quantity"></td>
                                    <td>$<span data-bind="text: productPrice"></span></td>
                                    <td>$<span data-bind="text: total_prod_amount"></span></td>
                                </tr>
                            </tbody>
                            <tfoot data-bind='visible: addedProductList().length > 0 '>
                                <tr>
                                    <td colspan="3">Total</td>
                                    <td>$<span data-bind='text:$root.totalamount'></span></td>
                                </tr>
                                <tr>
                                    <td colspan="3">VAT (13%) </td>
                                    <td>$<span data-bind='text:$root.VAT'></span></td>
                                </tr>

                                <tr>
                                    <td colspan="3">Grand Total(VAT+Total) </td>
                                    <td>$<span data-bind='text:$root.grandTotal'></span></td>
                                </tr>
                                <tr data-bind='visible: $root.userAmount() > 0 '>
                                    <td colspan="3">Customer Paid Amount </td>
                                    <td>$<span data-bind='text:$root.userAmount'></span></td>
                                </tr>
                                <tr data-bind='visible: $root.userAmount() > 0 '>
                                    <td colspan="3">Due Amount </td>
                                    <td>$<span data-bind='text:$root.dueAmount'></span></td>
                                </tr>
                                <tr data-bind='visible: $root.userAmount() > 0 '>
                                    <td colspan="3">Return Amount </td>
                                    <td>$<span data-bind='text:$root.returnAmount'></span></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>  
                </div>

                <div class="modal-footer">
                    <button type="button" data-bind="click : $root.closeModal" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="button" data-bind="click : $root.print" class="btn btn-primary">Print</button>
                </div>
            </div>
        </div>
    </div>

</body>



</html>



<!-- The Modal -->


@section scripts {
    <script src="~/page_script/sales.js"></script>
}


